<a href="https://colab.research.google.com/github/SofiaCR2/Python-basico-intermedio/blob/main/ch02_Variables_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Autor: sofia Castro

Curso: Python de básico a intermedio

11/07/2023

# 2.1 Tipos de Datos

In [1]:
type (100)

int

In [2]:
type(-9)

int

In [3]:
type(1000.9874)

float

In [4]:
type("A")

str

In [5]:
type('A')

str

In [6]:
print("hello")

hello

In [7]:
print(type("hello"))

<class 'str'>

In [8]:
type("17")

str

In [10]:
type("""Triple double quote data""")

str

In [9]:
print("""Triple double quote data""")

Triple double quote data

In [11]:
a = "hello"

In [12]:
a

'hello'

##2.2 Conversion de tipos

In [19]:
data = "hello" # no se puede convertir una cadena en flotante o en entero

In [20]:
type(data)

str

In [21]:
data = '100'
type(data)

str

In [22]:
num = int(data)
type(num)

int

In [23]:
num

100

In [24]:
price = float('500.99')
type(price)

float

In [25]:
float('h1')

ValueError: ignored

In [26]:
num = 99.99
striNum = str(num)
print(striNum)
type(striNum)

99.99

str

In [27]:
type(True)

bool

In [28]:
type(False)

bool

 ## 2.3 Declaraciones
 - una declaracion es una instruccion que el intérprete de python puede ejecutar

 - Hemos visto sentencias de asignacion hasta ahora

 - Luego exploraremos for, if, import, while y otras declaraciones

In [29]:
 1 + 2

3

In [30]:
len('hello')

5

In [31]:
print(2+3*4)

14

In [32]:
print(''' "oh no", ella exclama, "La ventana de Ben esta rota"''')

 "oh no", ella exclama, "La ventana de Ben esta rota"

## 2.4 Secuencia de escape
- algunas letras o secuencias de letras tienen un significado especial para Python

- Las comillas simples, dobles y triples simples o dobles represnetan  datos de cadena

- utilice la barra invertida \ para representar estas secuencias de escape, por ejemplo,

 - \\n - nueva línea
 - \\\\ - barra invertida
 - \\t - tabulador
 - \\r - retorno de carro
 - \\' - una frase
 - \\" - comillas dobles

In [33]:
print('what\'s up \n shaq o\'Neal?')

what's up
 shaq o'Neal?

In [34]:
print('Hello \t here... \n how are you? \\\\')

Hello 	 here...
 how are you? \\

In [35]:
print (r'Hello here... how are you? \\')

Hello here... how are you? \\

#2.5 Varibles
- las variables son identificadores que se utilizan para almacenar valores que luego pueden manipularse fácilmente
- las variables dan nombres a los datos para que los datos puedan ser fácilmente referenciados por sus nombres una y otra vez
- reglas y mejores prácticas para crear identificadores y nombres de variables:
    - no puede ser una palabra clave - ¿cuáles son las palabras clave integradas?
    - puede comenzar solo con letras del alfabeto o guión bajo (_)
    - no puede tener símbolos como $, %, &, espacio en blanco, etc.
    - no puede comenzar con un dígito, pero los dígitos se pueden usar en cualquier otra parte del nombre
    - use nombres camelCase o use _ for_multi_word_names
    - use nombres concisos pero significativos y sin ambigüedades para escribir menos y evitar errores tipográficos

In [38]:
help ('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [37]:
# Las variables deben estar definidas inicilamente o antes de ser usadas
print(x)

algun valor

In [36]:
x = 'algun valor'
print(x)

algun valor

In [39]:
var1 = -100
num = -99.99
name = 'John'
lName = 'Smith'
MI = 'A'
grade = 10.5
Name = 'Jake'
grade = 19.9
gradosCelsius ='32'
grados_celsius = 32

In [40]:
type (gradosCelsius)

str

In [41]:
type(grados_celsius)

int

In [42]:
#Estructura dinámica
var = 100

In [43]:
var ='hello'

In [44]:
var = 99.89

In [45]:
var

99.89

# 2.6 Computación: operadores y operandos
- **operadores** son fichas/símbolos especiales que representan cálculos como suma, multiplicación y división
- los valores que usa un operador se llaman **operandos**
- algunos operadores binarios que toman dos operandos
    - suma: 10 + 20
    - resta: 20 - 10
    - división verdadera: 10 / 3
    - multiplicación: 7 * 9
    - división entera: 10 // 3
    - operador resto o módulo: 10 % 2
    - potencia: 2 ** 3

In [46]:
print(2 * 3 ** 2)

18

In [47]:
x = 1
y = 2
z = 3
ans = x+y-z*y**y
print(ans)

-9

# 2.7 Operations on strings
+  and  ∗  operators also work on strings
Chapter 08 covers more on string data type and operations

In [56]:
fname = "John"
lname = "Smith"
fullName = fname +" "+ lname
print(fullName)

John Smith

In [49]:
gane = "AGT"*10
print(gane)

AGTAGTAGTAGTAGTAGTAGTAGTAGTAGT

In [50]:
name = input('What is your name? ')

What is your name? sofia

In [51]:
print('hello, ', name)

hello,  sofia

In [52]:
num = input('Introduce un número => ')
print('Tu número es: ', num)
print('El tipo del', num, '=', type(num))

Introduce un número => 98
Tu número es:  98
El tipo del 98 = <class 'str'>

In [53]:
# str must be casted into int or float depending on the value required
num2 = float(num)
print('type of', num, '=', type(num2))

type of 98 = <class 'float'>

#Ejercicio 1

# Area y perímetro de un rectángulo

Escriba un script de python que calcule el área y el perímetro de un rectángulo

In [ ]:
# Demuestra la composición paso a paso
# Pasos del algoritmo
# 1. Obtenga la longitud y el ancho de un rectángulo
#     a. valores codificados O
#     b. solicitar al usuario que introduzca los valores de largo y ancho
#        i. convertir la longitud y el ancho en tipos de datos correctos
# 2. Encuentra el área = largo x ancho
# 3. Encuentra el perímetro = 2 (largo + ancho)
# 4. Mostrar resultados calculados

In [54]:
x = input('Introduce un número => ')
x2 = float(x)

Introduce un número => 5

In [55]:
y = input('Introduce un número => ')
y2 = float(y)

Introduce un número => 65

In [57]:
Area = x2 * y2

print("El area es: ", Area)

El area es:  325.0

In [58]:
Perimetro = (2*x2) + (2*y2)

print("El perimetro es:",Perimetro)

El perimetro es: 140.0

In [59]:
Perimetro = 2*(x2 +y2)

print("El perimetro es:",Perimetro)

El perimetro es: 140.0

# 2. Área y circunferencia de un círculo
- escribir un script de python que calcule el área y la circunferencia de un círculo
- el área de un círculo se calcula usando la ecuación: $\pi r^{2}$
- el perímetro de un círculo se calcula usando la ecuación: $2 \pi r$
- puedes usar $\pi=3.14159$

In [ ]:
# Demostración de paso a paso
# Pasos del algoritmo
# 1. Solicitar el radio del circulo
# 2. Convertir la variable en float
# 3. Declarar la constante de Pi
# 4. Aplicar la formula de área y mostrar resultado
# 5. Aplicar la formula de perimetro y mostrar resultado

In [60]:
r = float(input("introduce el radio: "))

introduce el radio: 56

In [61]:
pi = 3.14159

In [62]:
area = pi * r * r
print("el área es : ", area)

perimetro = pi * r * 2
print("el perimetro es : ", perimetro)

el área es :  9852.02624
el perimetro es :  351.85808