<a href="https://colab.research.google.com/github/SofiaCR2/Python-basico-intermedio/blob/main/ch08_2_Listas_Avanzadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List comprehesion
Es una manera rÃ¡pida y eficiente de ejecutar bucles y almacenar los resultados dentro de una lista

In [ ]:
# Mi variable nueva_lista es la lista donde almacenaremos
# el resultado de nuestro proceso
nueva_lista = []

for i in range(10):
  nueva_lista.append(i **2)

In [ ]:
print(nueva_lista)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# La primer parte de un list comprehesion es el valor
# que queremos almacenar. En este ejemplo, el vlor es igual a i ** 2
nueva_lista = [i ** 2 for i in range(10)]

In [ ]:
print(nueva_lista)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:

numeros_lista = [0,2,3,5,8,10,11,14]
numeros_pares_lista = []

for num in numeros_lista:
  if num % 2 == 0 and num > 0:
    numeros_pares_lista.append(num)

In [ ]:
numeros_pares_lista

[2, 8, 10, 14]

In [ ]:
numeros_pares_lista = [num for num in numeros_lista if num % 2 == 0 and num > 0]

In [ ]:
numeros_pares_lista

[0, 2, 8, 10, 14]

In [ ]:
"Volver al futuro".split()

['Volver', 'al', 'futuro']

In [ ]:
texto_procesado_lista = [(palabra.upper(), palabra.lower(), len(palabra))
    for palabra in "Volver al futuro".split()]

In [ ]:
texto_procesado_lista

[('VOLVER', 'volver', 6), ('AL', 'al', 2), ('FUTURO', 'futuro', 6)]

In [ ]:
len(texto_procesado_lista)

3

# Funcines lambda
- Se utiliza la palabra reservada `lambda`
- Son funciones escritas en una linea de codigo
- No tienen `return` para devolver un valor
- No tienen nombre

In [ ]:
# No recomendable hacerlo
def func(x): return x ** 2

In [ ]:
func(3)

9

In [ ]:
func_lambda = lambda x: x ** 2

In [ ]:
print(func_lambda)

<function <lambda> at 0x796daa1bd6c0>

In [ ]:
func_lambda(4)

16

#Sorted

In [ ]:
mi_lista = ["Apple", "apple", "ball", "Ball", "cat"]
mi_lista

['Apple', 'apple', 'ball', 'Ball', 'cat']

In [ ]:
sorted(mi_lista)

['Apple', 'Ball', 'apple', 'ball', 'cat']

In [ ]:
sorted(mi_lista, key=lambda x: x.lower())

['Apple', 'apple', 'ball', 'Ball', 'cat']

# Filter
Nos regresa una nueva lista, que contiene cada elemento en que una funcion regresa `TRUE`

NOTA: iterator protocol estÃ¡ compuesto por `__iter__()` y `__next__()`

In [ ]:
help(filter)

In [ ]:
numeros_lista = [2, 18, 9, 22, 17, 24, 8, 12, 27]

In [ ]:
# filter regresa un iterador
list(filter(lambda numero: numero % 3 == 0, numeros_lista))

[18, 9, 24, 12, 27]

#map
Regresa un iterador que aplica una funcion sobre cada elemento de una lista

In [ ]:
numeros_lista = list(range(1, 11))
numeros_lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
''' cuadrados_lista = []
for numero in numeros_lista:
  cuadrado = numero ** 2
  cuadrados_lista.append(cuadrado) '''

In [ ]:
list(map(lambda numero: numero ** 2, numeros_lista))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
texto = "Volver al futuro"
# p = palabra
list(map(lambda p: (p.upper(), p.lower(), len(p)), texto.split()))

#usando list comprehesion quedaria como:
#texto_procesado_lista = [(palabra.upper(), palabra.lower(), len(palabra))
#    for palabra in "Volver al futuro".split()]

[('VOLVER', 'volver', 6), ('AL', 'al', 2), ('FUTURO', 'futuro', 6)]

#reduce
- Hay que importarla del modulo functools
- Reducir una lista de valores a un solo valor

In [ ]:
from functools import reduce
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [ ]:
from functools import reduce

def sum(a,b):
  print(f"a={a}, b={b}, {a} + {b} = {a + b}")
  return a + b

score = [75, 65, 80, 95, 50]
total = reduce(sum, score)
print(total)

a=75, b=65, 75 + 65 = 140
a=140, b=80, 140 + 80 = 220
a=220, b=95, 220 + 95 = 315
a=315, b=50, 315 + 50 = 365
365

In [ ]:
reduce(lambda a, b: a + b, score)

365