<a href="https://colab.research.google.com/github/SofiaCR2/Python-basico-intermedio/blob/main/ch28_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Setup Base de Datos

In [2]:
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 13.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package logrotate.
(Reading database ... 120493 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.8-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.8-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.8-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.8-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../12-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer → /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer → /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer → /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.8-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.8-0ubuntu0.22.04.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...
 * Starting PostgreSQL 14 database server
   ...done.

In [3]:
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

ALTER ROLE

In [4]:
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS placeholder;'

NOTICE:  database "placeholder" does not exist, skipping
DROP DATABASE

In [5]:
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE placeholder;'

CREATE DATABASE

```
CREATE TABLE IF NOT EXISTS posts (
  userId SERIAL PRIMARY KEY,
  id INT UNSIGNED NOT NULL,
  title VARCHAR NOT NULL,
  body VARCHAR NOT NULL,
);
```

In [6]:
!sudo -u postgres psql -U postgres -c 'CREATE TABLE IF NOT EXISTS posts (userId SERIAL PRIMARY KEY, id INT NOT NULL, title VARCHAR NOT NULL, body VARCHAR NOT NULL);'

CREATE TABLE

## Setup de biblioteca de Python

In [7]:
# requests nos permite enviar un solicitud HTTP
import requests
import pandas as pd
from sqlalchemy import create_engine # Conectar con postgres

In [8]:
url = "https://jsonplaceholder.typicode.com/posts"
reponse = requests.get(url)

In [9]:
df = pd.DataFrame(reponse.json())

guardando en la base de datos

In [10]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/placeholder")

In [11]:
df.to_sql("posts", engine, index=False)

100

In [12]:
# Creando la conecion a la base de datos
connection = engine.raw_connection()
# Guardar la tabla
query = "SELECT * FROM posts"
df_posts = pd.read_sql(query, connection)

<ipython-input-12-8a0a99897734>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_posts = pd.read_sql(query, connection)

In [13]:
df_posts.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [14]:
connection.close()

# Automatizando el proceso

In [15]:
url = "https://jsonplaceholder.typicode.com/posts"
reponse = requests.get(url)
df = pd.DataFrame(reponse.json())
df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [16]:
resources_list = ["posts", "coments", "albums", "photos", "todos", "users"]

new_list = []
for resources in resources_list:
  url = f"https://jsonplaceholder.typicode.com/{resources}"
  reponse = requests.get(url)
  df = pd.DataFrame(reponse.json())
  new_list.append(df)

In [42]:
# Tabla corrspondiente a users
new_list[5].head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."

In [52]:
df_temp = new_list[5]

In [56]:
# usar el método apply para aplicar la clase
# pd.Series a cada final, y de este modo desempaquetar la
# información
new_df = df_temp["address"].apply(pd.Series)
new_df.head()

,street,suite,city,zipcode,geo
0,Kulas Light,Apt. 556,Gwenborough,92998-3874,"{'lat': '-37.3159', 'lng': '81.1496'}"
1,Victor Plains,Suite 879,Wisokyburgh,90566-7771,"{'lat': '-43.9509', 'lng': '-34.4618'}"
2,Douglas Extension,Suite 847,McKenziehaven,59590-4157,"{'lat': '-68.6102', 'lng': '-47.0653'}"
3,Hoeger Mall,Apt. 692,South Elvis,53919-4257,"{'lat': '29.4572', 'lng': '-164.2990'}"
4,Skiles Walks,Suite 351,Roscoeview,33263,"{'lat': '-31.8129', 'lng': '62.5342'}"

In [57]:
new_df_2 = new_df["geo"].apply(pd.Series)
new_df_2.head()

        lat        lng
0  -37.3159    81.1496
1  -43.9509   -34.4618
2  -68.6102   -47.0653
3   29.4572  -164.2990
4  -31.8129    62.5342

In [60]:
# pd.concat nos permite unir dos dataframes, ya sea por filas
# o por columnas
df_final = pd.concat([new_df, new_df_2], axis="columns")
# con el método drop estamos eliminado la columna `geo`
df_final = df_final.drop("geo", axis=1)
df_final

,street,suite,city,zipcode,lat,lng
0,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342
5,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478
6,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984
7,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677
8,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889
9,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232

In [62]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/placeholder")

#'psots', ya fue cargada en los psaos anteriores
# 'users',  nos arroja el error can´t adapt type 'dict' porque
# tiene informacion empaquetada
resources_list = ["coments", "albums", "photos", "todos"]

for resources in resources_list:
  url = f"https://jsonplaceholder.typicode.com/{resources}"
  reponse = requests.get(url)
  df = pd.DataFrame(reponse.json())
  # el metodo to_sql tiene el argumento if_exist, por default, es igual
  # a "fail", por lo que arrojara un error si la tabla, ya existe.
  # Tambien recibe los valores 'replace' y append
  df.to_sql(resources, engine, index=False, if_exists="replace")
  print(f"La fuente {resources} fue cargada exitosamente")

La fuente coments fue cargada exitosamente
La fuente albums fue cargada exitosamente
La fuente photos fue cargada exitosamente
La fuente todos fue cargada exitosamente

# Analisi de datos

In [63]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/placeholder")
connection = engine.raw_connection()

In [64]:
# COUNT(*) CARGA EN POSTGRES
query = "SELECT * FROM posts " #LIMIT 10
df = pd.read_sql(query, connection)

<ipython-input-64-682e1badfc38>:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [65]:
df

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

In [ ]:
df.shape

(10, 4)

In [ ]:
df.groupby("userId").count()

        id  title  body
userId
1       10     10    10
2       10     10    10
3       10     10    10
4       10     10    10
5       10     10    10
6       10     10    10
7       10     10    10
8       10     10    10
9       10     10    10
10      10     10    10

In [66]:
len("este es un texto".split())

4

In [ ]:
df["total_palabras"] = df['body'].str.split().str.len()

In [ ]:
df.sort_values("total_palabras", ascending=False)

,userId,id,title,body,total_palabras
35,4,36,fuga nam accusamus voluptas reiciendis itaque,ad mollitia et omnis minus architecto odit\nvo...,32
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...,32
58,6,59,qui commodi dolor at maiores et quis id accusa...,perspiciatis et quam ea autem temporibus non v...,32
68,7,69,fugiat quod pariatur odit minima,officiis error culpa consequatur modi asperior...,31
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...,31
...,...,...,...,...,...
53,6,54,sit asperiores ipsam eveniet odio non quia,totam corporis dignissimos\nvitae dolorem ut o...,17
87,9,88,sapiente omnis fugit eos,consequatur omnis est praesentium\nducimus non...,16
86,9,87,nostrum quis quasi placeat,eos et molestiae\nnesciunt ut a\ndolores persp...,16
75,8,76,doloremque officiis ad et non perferendis,ut animi facere\ntotam iusto tempore\nmolestia...,16
45,5,46,aut quo modi neque nostrum ducimus,voluptatem quisquam iste\nvoluptatibus natus o...,16